h2{
    color: rgb(0, 0, 0);
}

.ods{
    margin-top: 2%;
}


.container{
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    height: auto;
    width: 30%;
    text-align: justify;
    color:black;
    
   
    
}
.topico{
    font-size: 15px;
}
.Group{
    
    height: 500px;
    position:relative; /* Define a posição absoluta */
  top: -500px; /* Distância da parte superior da página */
  left: 340px; /* Distância da esquerda da página */
    
}