h2{
    color: rgb(0, 0, 0);
}
.frase{
    font-size: 30px;
    color: gray;
}

.ods{
    margin-top: 2%;
}

.container{
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    height: auto;
    width: 30%;
    text-align: justify;
    color:black;
}
.topico{
    font-size: 15px;
}
.Group{
    
    height: 500px;
    position:relative; 
  top: -500px; 
  left: 300px; 
    
}
.container2{
    background-color: rgb(255, 255, 255);
    margin-left: 53%;
    margin-top: -400px;
    height: auto;
    width: 30%;
    text-align: justify;
    color:black;
    
}
.topico2{
    font-size: 15px;
}
/*CSS DA PAGINA SOLUÇÃO*/
.tituloSolucao{
    color: black;
}

.container3{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    display: grid;
    place-items: center;
    height: 20vh;
    width: 60vh;
    margin-left: 20%;
    
    
}
.Solucao{
    font-size: 20px;
    color: black;
}

.recife{
    width: fit-content;
    position:relative; 
  top: -443px; 
  left:-300px; 
  height: 425px;
  width: 550px;
  border-radius: 15% 15% 15% 3%;


}
/*CSS DA PAGINA SOBRE NOS*/
.alysson,.gabriel,.luiz,.carlos,.giullia{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    display: block;
  margin: 0 auto;
 
}
h3{
    font-size: 200%;
    color: black;
}
.linkedin{
    width: 15%;
    height: 15%;
    border-radius: 10%;
    display: block;
  margin: 0 auto;

}
.linkedin:hover{
    transform: scale(1.3);
    transition: transform 0.3s;
}
.divCarrossel{
    color:black
}
.tituloSobrenos{
    color: black;

}


