.tituloSolucao{
    color: black;
}

.container3{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    display: grid;
    place-items: center;
    height: 20vh;
    width: 60vh;
    margin-left: 20%;
    
    
}
.Solucao{
    font-size: 20px;
    color: black;
}

.recife{
    width: fit-content;
    position:relative; 
  top: -443px; 
  left:-300px; 
  height: 425px;
  width: 550px;
  border-radius: 15% 15% 15% 3%;


}