@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.nav{
    margin-top: 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-family: "Montserrat", sans-serif;    
    font-weight: bold;
    color: currentColor;
    font-size: 25px;
    padding: 5px 150px;
    

}
.CSlogo{
    font-size: 36px;
}



 
