
.App{
    font-family: "Montserrat", sans-serif;
    color: #4AB1B8;
    text-align: center;
    
}

.destaque{
    color:black

}
.content {
    margin-top: 5%
    
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 50px;
 
  }

 
  



